body
{
    background: rgb(70, 107, 241);
    font:  normal 15pt arial;
    

}

header
{
    color: white;
    text-align: center;
    


}


section
{
    
    background: white;
    border-radius: 20px;
    padding: 15px;
    width: 853px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
    



}

footer
{
    color: white;
    text-align: center;
    font-style: italic;


}



div#resultado {
    font: normal 20pt arial;
    background-color: rgb(64, 121, 7);
    color: white;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;

}


div#resultado1 {
    font: normal 20pt arial;
    background-color: rgb(64, 121, 7);
    color: white;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;

}


div#resultado2 {
    font: normal 20pt arial;
    background-color: rgb(64, 121, 7);
    color: white;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;

}

div#resultado3 {
    font: normal 20pt arial;
    background-color: rgb(64, 121, 7);
    color: white;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;

}